body {
  text-align: center;
  background-color: pink;
}

#game {
  width: 60em;
  margin: auto;
}

#game .mainDiv {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  margin: 10px;
  display: inline-block;
  perspective: 1000px;
  border-radius: 10px;
} 

.flip-box {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.8s;
  transform-style: preserve-3d;
}

.flip-click {
  transform: rotateY(180deg);
  transition: 0.8s;
  transform-style: preserve-3d;
}

.flip-front, .flip-back {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-back{
  transform: rotateY(180deg);
}

.won {
  font-size: 20px;
  flex-direction: column;
  display: none;
  color: green;
  row-gap: 2em;
}

.won button {
  padding: 1em 6em;
  background-color: #1974D2;
  border: none;
  border-radius: 5px;
  border: black solid;
}

@media (max-width: 1100px) {
  #game {
    width: 60%;
  }

  #game .mainDiv {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 700px) {
  #game {
    width: 90%;
  }

  #game .mainDiv {
    width: 80px;
    height: 80px;
  }
}